#tweetInput{
  border: none;
  font-size: 19px;
  padding-bottom: 20px;
} 

#tweetInput:focus{
  outline:none;
}

#tweetSubmit{
  background: var(--theme-color);
  border-color: var(--theme-color);
  font-size: 15px;
  font-weight: bold;
  border-radius: 25px;
}